@font-face {
    font-family: "Open Sans";
    src: url("/fonts/ Fjalla One-Regular-webfont.woff2") format("woff2"),
           url("/fonts/ Fjalla One-Regular-webfont.woff") format("woff");
   }


header {
    background: url('./images/path.png') repeat-x;
    background-color: #00748D;
    background-position: bottom;
    color: white;
    padding: 1em;
    font-family: 'Fjalla One'; 
}

header .logo img{
    margin-bottom: 10px;
}

header .logo p{
    position: relative;
    top: 15px;
    text-align: center;

}


body{
    background-color: #f9f9f9;
}

.nav {
    text-decoration: none;
    text-transform: uppercase; 
    text-align: center;
     
}


.nav-item:hover{

    background-color:white;
}
a.nav-link:hover{
    color: #00748d;
}


.nav-link{
    color:white;
}

.container{
    margin-top: 2em;
}


h2 {
    color: #CB8606;
    font-size: 30px;
    text-align: center;
    margin: 1em;
}

h2 > span { 
    color: #00748D;
}

h3 {
    color: #00748D;
    font-size: 20px;
    padding: 1em;
}

h3 > span {
    color: #CB8606;
}

article {
    margin-top: 3em;
    
}

.photo img {
    border: 2px solid #00748D;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}


.colum{
 
    max-width: 50%;  
 
}


.temoignage .container{
    height: 300px;
    scroll-behavior: smooth;
    overflow: scroll;

}


.temoignage .container p::before {
    content: url('./images/quote.png');
}
.temoignage .container span::before{
    content:url('./images/client.png')
}
.temoignage .container span {
   font-style: italic;
   color: #00748D;
}

.tweet p {
    text-align: center;
}
.tweet p::before{
    content: url('./images/circle.png');
    margin-right: 5px;
}

footer {
    background: url('./images/path.png') repeat-x;
    background-color: #00748D;
    background-position: bottom;
    color: white;
    padding: 1em;
    font-family: 'Fjalla One'; 
}

footer .logo img{
    margin-bottom: 10px;
}

footer .logo p{
    position: relative;
    top: 15px;
    text-align: center;

}
